
    <h1>Admin page</h1>

    <% @users.each do |user| %>
      <div class="card">
        <div class="card-body">
          <p><%= user.id %></p>
          <p>email: <%= user.email %></p>
          <p>password: <%= user.password %></p>
          <p><%= user.created_at %></p>
        </div>
      </div>
    <% end %>

    <!-- 위 each코드는 객체를 돌면서 타이틀과 바디부분을 출력하는것 -->
